[{"name":"gpt35","url":"https://<gtp35-res-url>.openai.azure.com/openai/deployments/<deployment>/chat/completions?api-version=<version>","key":"<key>"},{"name":"gpt4","url":"https://<gpt4-res-url>.openai.azure.com/openai/deployments/<deployment>/chat/completions?api-version=<version>","key":"<key>"},{"name":"gpt4t","url":"https://<<gpt4-turbo-res-url>.openai.azure.com/openai/deployments/<deployment>/chat/completions?api-version=<version>","key":"<key>"},{"name":"gpt4v","url":"https://<gpt4-vision-res-url>.openai.azure.com/openai/deployments/<deployment>/chat/completions?api-version=<version>","key":"<key>"}]